*{margin:0px;padding: 0px;}
/*imagen despues de header*/
.imagenhome{position: relative;width: 100%; height: 560px;}
.imgc{width: 100%; height: 100%}
/*artesanos*/
.artesanos{width: 100%; height: 225px; background-color: #FF873B;margin-top: -5px;}
.linetriangulos{width: 100%;height: 9px;position: absolute;bottom: 0;  background-image: url(../img/home/triangulo_naranja.png);background-repeat: repeat-x;}
.flechaart{width: 35px; margin: auto; padding-top: 10px; padding-bottom: 80px; }
.artflecha{width: 35px; height: 11px;margin: auto;}
.textartg{width: 100%;height: auto;text-align: center;color: white;font-family: OpenSans-ExtraBold;}
.textart{width: 100%;height: auto;text-align: center;color: white;}
.lineart{width: 20%; height: 1px; border: 1px solid white;font-size: 14px; margin: auto;margin-bottom: -5px; }
/*contenido*/
.contenido{width: 100%; height: 511px;}
.imgartesano{width: 100%; height: 100%;}
.artesanosimg{width: 100%; height: 100%;}
/*botones*/
.contbotones{width: 100%;height: 30px;}
.botones{width: 86px;height: 35px; margin: auto;}
.bizq{width: 50%;height: 100%;float: left;background-color: #FF873B;}
.bder{width: 50%;height: 100%;float: right;background-color: #FF873B;}
.imgbizq{width: 18px;height: 30px;float: left;margin: 2px;margin-right: 3px;}
.imgbder{width: 18px;height: 30px;float: right;margin: 2px;margin-left: 3px;}
.bac{background-color: black;}
/*contenido 2*/
.contenido2{width: 100%;height: auto;}
.contpro{display: block;margin: 0 auto;width: 1120px;height: 1000px;}
.imgcont{width: 260px;height: 260px;float: left;margin: 10px 10px 10px 10px;}
.fondoimg{background-color: #FE4775;}
.imgrosa{width: 90%;height: 80%;border: 2px solid white;margin: auto;margin-top:25px;text-align: center;color: white; }
.allpro{margin-top: 70px;clear: both;}
.lineaimg{border: 3px solid white;width: 80%;height: 1px;margin: auto;}
.logblaco{margin-top: 60px;clear: both;}
}/*HD*/



